$background-color: #FFFFFF;
$font-color: #000000;
$green-color: #0fc096;
$gray-color: #646464;
$light-gray-color: #999DB8FF;
$red-color: #ab2d31;
$blue-color: #0051D4FF;
$dark-blue-color: #000;

$text-green-color: #0FC096;
$text-red-color: #FD3F45;
$text-orange-color: #fd883f;
$text-gray-color: #646464;