
.controlBox{
  width: 100%;
  text-align: center;
  & > .addButton{
    height: 4vh;
    width: 14vw;
    margin-bottom: 10px;
    @media(max-width: 992px) {
      height: 50px;
      width: fit-content;
    }
  }
}